absl-py
accelerate
aiohttp
aiosignal
alembic
anyio
argon2-cffi
argon2-cffi-bindings
ase
asttokens
astunparse
async-generator
async-timeout
attrs
Babel
backcall
banal
bcrypt
beautifulsoup4
Bempp-cl
bleach
cachetools
certifi
certipy
cffi
charset-normalizer
contourpy
cryptography
cycler
dataset
datasets
dbus-python
debugpy
decorator
defusedxml
dill
distlib
dlib
entrypoints
executing
fastjsonschema
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
huggingface-hub
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
jupyter_client
jupyter_core
jupyter-server
jupyter-telemetry
jupyterhub
jupyterhub-firstuseauthenticator
jupyterlab
jupyterlab-pygments
jupyterlab_server
jupyterlab-widgets
keras
kiwisolver
libclang
Mako
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
multidict
multiprocess
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
nvidia-cublas-cu11
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu11
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu11
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu11
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
opt-einsum
packaging
pamela
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pip
platformdirs
plotly
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyarrow-hotfix
pyasn1
pyasn1-modules
pycparser
Pygments
PyGObject
pyOpenSSL
pyparsing
pyrsistent
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
regex
requests
requests-oauthlib
rsa
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-learn
scipy
seaborn
Send2Trash
sentencepiece
setuptools
six
sniffio
soupsieve
SQLAlchemy
stack-data
sympy
tenacity
tensorboard
tensorboard-data-server
